
/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
*{
  background-color:#454140;
  text-align: center;
  margin: 0px;
  padding: 0px;
  top: 0px;
  margin: 0px;
  color:#a79e84;
  /* border: red solid 1px; */
  font-family: "Lucida Console", Courier, monospace;
  box-sizing: border-box;
}
body{
  background-color:#454140 ;
}
header{
  background-color: #454140;
}
.bottomBar{
  height: 50px;
}
.score{
  height: 20px;
}
.question{
  height: 20px;
}
h1{
  color:#a79e84;
  margin-top: 0px;
  background-color: #454140 ;
  
}
h2{
  color:#bd5734;
  margin-top: 0px;
  padding-top: 10px;
  font-size: 18px;
}
h3{
  margin-top: 20px;
}
p{
  margin-top: 20px;
}
div{
  height: 200px;
}
button{
  margin-top: 35px;
  background-color: #7a3b2e; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-self: baseline;
}
.nextQuestion{
  margin-top: 10px
}
input{
  margin-top: 10px;
  background-color: #7a3b2e; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.finalMessage{
  margin-top: 30px;
}

.quiz {
  border: 5px solid #bd5734;
margin-top:33%;
padding:5%;
height: 400px;
width:90%;
margin-left:auto;
margin-right:auto;
}

/* .radios{
  display:flex;
  flex-wrap: wrap;
} */

.boxes{
 height:100px;
}